# TASK1

In [2]:
import pandas as pd
df=pd.read_csv('DS3_C2_S1_Yelp_Data_Practice.csv')

In [4]:
review = df['text']

In [21]:
import re
lst=[]
for i in range(len(review)):
    if re.search('crash.*|amazing.*|tasty.*',review[i].lower()):
        lst.append(i)

In [29]:
t1 = df.iloc[lst]
t1

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
6,zp713qNhx8d9KCJJnrw1xA,2010-02-12,riFQ3vxNpP4rWLk_CSri2A,5,Drop what you're doing and drive here. After I...,review,wFweIWhv2fREZV_dYkz_1g,7,7,4
8,wNUea3IXZWD63bbOQaOH-g,2012-08-17,XtnfnYmnJYi71yIuGsXIUA,4,Definitely come for Happy hour! Prices are ama...,review,Vh_DlizgGhSqQh4qfZ2h6A,0,0,0
12,h53YuCiIDfEFSJCQpk8v1g,2010-01-11,cGnKNX3I9rthE0-TH24-qA,5,They have a limited time thing going on right ...,review,UPtysDF6cUDUxq2KY-6Dcg,1,2,0
16,supigcPNO9IKo6olaTNV-g,2008-10-12,HXP_0Ul-FCmA4f-k9CqvaQ,3,We went here on a Saturday afternoon and this ...,review,SBbftLzfYYKItOMFwOTIJg,3,4,2
...,...,...,...,...,...,...,...,...,...,...
9968,HIiVx2mseVWKtx8TKfWC_A,2010-06-07,TrFMPwWeaCWu8yDVWVkYwA,3,I have never been here before so I didn't know...,review,rLtl8ZkDX5vH5nAx9C3q5Q,0,2,1
9983,24V8QQWO6VaVggHdxjQQ_A,2010-06-06,PqiIeFOiVr-tj_FtHGAH2g,3,3.5 stars. \n\nWe decided to check this place ...,review,LaEj3VpQh7bgpAZLzSRRrw,1,4,1
9991,WJ5mq4EiWYAA4Vif0xDfdg,2011-12-05,EuHX-39FR7tyyG1ElvN1Jw,5,Only 4 stars? \n\n(A few notes: The folks that...,review,hTau-iNZFwoNsPCaiIUTEA,1,1,0
9992,f96lWMIAUhYIYy9gOktivQ,2009-03-10,YF17z7HWlMj6aezZc-pVEw,5,I'm not normally one to jump at reviewing a ch...,review,W_QXYA7A0IhMrvbckz7eVg,2,3,2
9996,EKzMHI1tip8rC1-ZAy64yg,2012-01-18,2XyIOQKbVFb6uXQdJ0RzlQ,4,Should be called house of deliciousness!\n\nI ...,review,ROru4uk5SaYc3rg8IU7SQw,0,0,0

# TASK2
    To get the Reviewers Ids and Date of Reviews

#### Dates

In [31]:
t1.date

0       2011-01-26
6       2010-02-12
8       2012-08-17
12      2010-01-11
16      2008-10-12
           ...
9968    2010-06-07
9983    2010-06-06
9991    2011-12-05
9992    2009-03-10
9996    2012-01-18
Name: date, Length: 1628, dtype: object

#### Reviewers Ids

In [125]:
t1.user_id

0       rLtl8ZkDX5vH5nAx9C3q5Q
6       wFweIWhv2fREZV_dYkz_1g
8       Vh_DlizgGhSqQh4qfZ2h6A
12      UPtysDF6cUDUxq2KY-6Dcg
16      SBbftLzfYYKItOMFwOTIJg
                 ...
9968    rLtl8ZkDX5vH5nAx9C3q5Q
9983    LaEj3VpQh7bgpAZLzSRRrw
9991    hTau-iNZFwoNsPCaiIUTEA
9992    W_QXYA7A0IhMrvbckz7eVg
9996    ROru4uk5SaYc3rg8IU7SQw
Name: user_id, Length: 1628, dtype: object

# TASK3

In [180]:
df['text'].replace(to_replace='[\n,? %@^]' ,value='',regex=True, inplace=True)
df.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,Mywifetookmehereonmybirthdayforbreakfastanditw...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,Ihavenoideawhysomepeoplegivebadreviewsaboutthi...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,lovethegyroplate.RiceissogoodandIalsodigtheirc...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,RosieDakotaandILOVEChaparralDogPark!!!It'svery...,review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,GeneralManagerScottPetelloisagoodegg!!!Nottogo...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

# TASK4

In [35]:
lst=[]
for i in range(len(review)):
    if re.search('phenomena.*',review[i].lower()):
        lst.append(i)
t4 = df.iloc[lst]
t4.date

0       2011-01-26
76      2011-06-24
123     2010-08-15
620     2011-03-25
716     2007-04-30
989     2011-09-18
1098    2009-08-07
1165    2011-10-09
1249    2011-03-07
1297    2009-03-31
1433    2011-05-09
1476    2011-04-30
1881    2012-06-15
1884    2012-01-21
1889    2011-01-10
1967    2010-01-02
2226    2009-11-25
2278    2012-04-13
2311    2010-04-21
2350    2009-03-26
2415    2011-01-08
2544    2012-04-03
2635    2012-04-30
2853    2012-04-25
2860    2010-08-07
3152    2008-11-13
3220    2011-01-19
3232    2010-12-07
3283    2010-11-25
3478    2012-07-17
3554    2008-01-06
3685    2009-12-31
4200    2011-11-21
4261    2007-06-13
4342    2011-03-14
4848    2011-05-07
5415    2008-06-21
5458    2009-03-09
5622    2011-03-30
5904    2011-01-25
6034    2012-05-24
6120    2011-10-22
6280    2010-10-04
6643    2010-04-13
6972    2012-01-06
7354    2011-08-22
7533    2011-07-07
7595    2010-08-07
7939    2009-09-04
8066    2008-06-09
8124    2011-11-10
8274    2009-08-12
8295    2008-10-03
8594    2011-02-15
8666    2010-07-28
9207    2010-03-19
9450    2012-01-13
9511    2011-01-03
9880    2012-08-08
9901    2011-07-22
Name: date, dtype: object

In [179]:
l1 = []
for i in t4['text']:
    l1.append(re.findall('\d+',i))
s = []#sum of inside list
for i in l1:
    k = 0
    for j in i:
        k+= float(j)
    s.append(k)
sum1 = 0
for i in s:
    sum1+=i
average = sum1/len(s) 
print('Average is',average)

Average is 172.91666666666666

# TASK5

In [113]:
t5=df[(df['stars']==5) & (df['funny']==0)]
t5.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
9,nMHhuYan8e3cONo3PornJA,2010-08-11,jJAIXA46pU1swYyRCdfXtQ,5,Nobuo shows his unique talents with everything...,review,sUNkXg8-KFtCMQDV6zRzQg,0,1,0

In [120]:
t5['text'].replace(to_replace='[#@&!,^x]' ,value='',regex=True, inplace=True)

C:\Users\yogesh\AppData\Local\Temp\ipykernel_19104\4153370877.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t5['text'].replace(to_replace='[#@&!,^]' ,value='',regex=True, inplace=True)

In [121]:
t5

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,Rosie Dakota and I LOVE Chaparral Dog Park It'...,review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg No...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
9,nMHhuYan8e3cONo3PornJA,2010-08-11,jJAIXA46pU1swYyRCdfXtQ,5,Nobuo shows his unique talents with everything...,review,sUNkXg8-KFtCMQDV6zRzQg,0,1,0
...,...,...,...,...,...,...,...,...,...,...
9975,EWMwV5V9BxNs_U6nNVMeqw,2007-10-20,g4LsVAoafmUDHiS-_yN4tA,5,When I lived in Phoenix I was a regular at Fez...,review,TLj3XaclA7V4ldJ5yNP-9Q,1,1,0
9978,9Y3aQAVITkEJYe5vLZr13w,2010-04-01,ZoTUU6EJ1OBNr7mhqxHBLw,5,This is the place for a fabulos breakfast I ha...,review,vasHsAZEgLZGJDTlIweUYQ,0,1,0
9989,mQUC-ATrFuMQSaDQb93Pug,2011-10-01,ta2P9joJqeFB8BzFp-AzjA,5,Great food and service Country food at its best,review,fKaO8fR1IAcfvZb6cBrs2w,0,1,0
9991,WJ5mq4EiWYAA4Vif0xDfdg,2011-12-05,EuHX-39FR7tyyG1ElvN1Jw,5,Only 4 stars? \n\n(A few notes: The folks that...,review,hTau-iNZFwoNsPCaiIUTEA,1,1,0
9999,pF7uRzygyZsltbmVpjIyvw,2010-10-16,vWSmOhg2ID1MNZHaWapGbA,5,4-5 locations.. all 4.5 star average.. I think...,review,KSBFytcdjPKZgXKQnYQdkA,0,0,0